.App {
  text-align: center;
  background-color: black;
}

.App-header {
  background-color:saddlebrown;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ImageSet {
    background-color: sandybrown;
    width: 900px;
    margin: auto;
}

img {
    border: 3px solid black;
    margin: 7px;
}